@media (max-width: 550px){
    .telephone{
        right: 50px;
    }
    .bars{
        margin-left: 20px;
    }
}

@media screen and (max-width:480px) {
    .menu{
        width: 60%;
    }
}

@media screen and (max-width:430px) {
    .menu{
        width: 70%;
    }
}

@media screen and (max-width:370px) {
    .menu{
        width: 80%;
    }
}