@media (max-width: 550px){
    .navbar{
        background-image: none!important;
    }
    .bars{
        font-size: 24px;
    }
    .telephone{
        display: block;
    }
}

@media screen and (min-width:1500px) {
    .navbar{
        background-image: none!important;
    }
}